<a class="panel-block is-active repo-link" href="{{htmlUrl}}" target="_blank">
  <span class="panel-icon"><i class="fas fa-book"></i></span>
  <span>{{owner}}/<strong>{{repo}}</strong></span>

  <div class="stargazer">
    <span class="panel-icon"><i class="fas fa-star"></i></span>
    <span class="is-size-7">{{stargazersCount}}</span>
  </div>
</a>
