<section class="section">
  <div class="container">
    <div class="control">
      <input class="input" type="text" placeholder="Search Github repositories" data-role="repo-search-input" data-url="<%= api_v1_github_repository_searches_url %>">
    </div>
  </div>
</section>
