<section class="section">
  <div class="container">
    <div class="control">
      <input class="input" type="text" placeholder="Search Github repositories" data-role="repo-search-input">
    </div>
  </div>
</section>
